{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container page-header-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center">Users</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="menu-container">
    {% for item in users  %}
    <div class="row m-2">
        <div class="col-11 col-md-10 m-auto">
            <h5 class="mb-0">
                {{ item.name }}
            </h5>
        </div>

    </div>
</div>

{% endfor %}



{% endblock %}