{% extends "allauthbase.html" %}
{% load static %}

{% block page_header %}
<div class="container page-header-container">
    <div class="row w-100 pt-4" id="loyalty">
        <div class="col-12 text-center">Zolsha's Loyalty Scheme</div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay w-100">
    <div class="login mt-5 w-100">
        <div class="row m-auto">
            <div class="col-12 m-auto">
                <div class="col-5 m-auto text-center"><a href="{% url 'account_signup' %} " class="btn order-now-btn rounded shadow btn-lg m-auto">
                        <span class="text-uppercase">Register</span>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="col-5 m-auto text-center">
                    <a href="{% url 'account_login' %} " class="btn order-now-btn rounded shadow btn-lg">
                        <span class="text-uppercase">Log In</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}